<app-navbar></app-navbar>
<section>
    <div class="title">
        <h1>Cadastrar usuário</h1>
    </div>
</section>
<section>
    <form class="container" [formGroup]="userForm">
        <div class="col-2">
            <div class="item">
                <label for="username">Username:</label>
                <input type="text" name="username" class="form-control" formControlName="username">
            </div>
            <div class="item">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control" formControlName="password">
            </div>
        </div>
        <div class="col-2">
            <div class="item">
                <label for="name">Nome:</label>
                <input type="text" name="name" class="form-control" formControlName="name">
            </div>
            <div class="item">
                    <label for="name">Selecione uma opção</label>
                    <select name="admin" class="form-control" formControlName="admin">
                      <option value="true" selected>Admin</option>
                      <option value="false">User</option>
                    </select>
            </div>
        </div>

        <div style="margin-top: 10px;" [ngStyle]="{'display': user === null ? 'block' : 'none' }">
            <button mat-raised-button color="primary" (click)="createUser()">Salvar usuário</button>
        </div>
        <div style="margin-top: 10px;" [ngStyle]="{'display': user !== null ? 'block' : 'none' }">
            <button mat-raised-button color="primary" (click)="updateUser()">Edit usuário</button>
        </div>
    </form>
</section>